# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/
next.user-config.*

# Environment variables
.env
.env.*
!.env.example
.env*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependencies
node_modules/
jspm_packages/
bower_components/
web_modules/

# Build outputs
.next/
out
dist
build/Release
.nuxt
.output

# Caches
.cache
.parcel-cache
.eslintcache
.stylelintcache
.npm

# OS files
.DS_Store

# TypeScript
*.tsbuildinfo

# Vite
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Misc
*.tgz
.yarn-integrity
.pnpm-store

#security yangu
serviceAccountKey.json
#zvema models
models/
*.joblib
# allow the model file inside ml-service so Render.com can use it
!ml-service/carbon_predictor_v1.joblib
.venv/
node_modules/